body{
    margin: 0;
    padding: 0;
    background-color: lightsalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar{
    background-color: rgb(190, 83, 83);
    width: 100%;
    height: 10vh;

}
.box{
    height: 10vh;
    width: 20vw;
}
h1{
    font-size: 6vh;
    margin-left: 30vw;
}
a{
    text-decoration: none;
    font-size: 2vh;
    float: right;
    margin-top: 2vh;
    padding: 2vh;
}
#dropdown{
    height: 10vh;
    width: 10vh;
    background-color: rgb(190, 83, 83);
    float: left;
    text-align: center;
}
.p{
    padding-top:2.5vh ;

}
#dropdown-block{
    display: none;
    position: absolute;
    background-color: rgb(190, 83, 83);

}
.Elements{
    padding: 3vh;

}
#dropdown:hover #dropdown-block{
    display: block;
    width: 10vh;
    height: 50vh;
}
.info{
    background-color: lemonchiffon;
    width: 50vw;
    height: 50vh;
    margin:0 auto;
}